<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
  </head>
  <body>
    <ul>
      <% categories.forEach(element => { %>
      <li><a href="/category/<%= element.id %>"><%= element.name%></a></li>
      <% }); %>
    </ul>
    <form action="/category" method="post">
      <input type="text" name="name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
